.banner{
    background-color: whitesmoke;
    background-image: url("banner.jpg");
    height: 200px;
    max-width: 100%;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  overflow: hidden;
  top:0px;
  background-color: #333;
}

.menu ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }

.menu li {
    margin: 0 1em;
}

.menu li a {
    color: white;
    display: block;
    padding: 1em;
    text-decoration: none;
}

/* Change the link color to seagreen on hover */
.menu a:hover {
    background-color: seagreen;
}

@media (max-width: 768px) {
    .menu ul {
      flex-direction: column;
      align-items: center;
    }
    .menu li {
      margin: 1em 0;
    }
  }

.container {
    width: 100%;
  }
  
  .left-column {
    float:left;
    width:55%;
    background-color:#ccc;
    padding: 20px;
  }
  
  .right-column {
    float: right;
    width:40%;
    background-color: #fff;
  }

  @media only screen and (max-width: 768px) {
    .left-column, .right-column {
      width: 100%;
      float: none;
    }
  }

#main-heading {
    text-align: center;
    font:bolder;
    font-size:x-large;
    font-style: italic;
    color:black;
    font-family:cursive;
    margin: 20px;
}

img[alt="logo"] {
    display: none;
}

img[alt="css"] {
    float: right;
    height: 180px;
    width: 300px;
}

img[alt="me"] {
    float: right;
    height: 230px;
    width: 180px;
    border-radius: 5%;
}

#task {
    background-color: aliceblue;
    height: 260px;
    overflow: auto;
    overflow-y:hidden;
    padding: 5px;
}


h2 {
    border-bottom: 2px #333 double;
}

#requirements li {
    list-style:circle;
}


h4 {
    color:darkred;
}

  /* Clear floats after the columns */
  section::after {
    content: "";
    display: table;
    clear: both;
  }

#submission {
    background-color:ghostwhite;
    height: 400px;
    padding: 10px;
}

  
  /* Style the footer */
footer {
    clear: left;
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
    height: 100%;
    overflow: auto;
  }
  
/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
  @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }

ul {
    list-style-type: none;
}

table, tr, td {
    border: 1px solid;
    width: 100%;
}

tr:hover {background-color: coral;}

tr:nth-child(even) {background-color: #f2f2f2;}

th {
    background-color: #04AA6D;
    color: white;
  }

.map {
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    left: 300px;
    bottom: 150px;
    padding: 10px;
}

.contacts {
    float: left;
}

.categories {
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    right: 100px;
    width: 300px;
}

#important {
    font-size:larger;
    font-family:'Times New Roman', Times, serif;
    padding: 5px;
    background-color:lightseagreen;
    margin-top: 50px;
    text-align: center;
}

#dummy {
    font-size:larger;
    font-family:'Times New Roman', Times, serif;
    background-color:coral;
    padding: 5px;
    text-align: center;
}

h5 {
    font-size:medium;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a:hover {
    color:crimson;
    border: 1px solid black;
    padding: 3px;
    background-color:moccasin;
}

a:visited {
    color:darkblue;
}

a[href="mailto:info@naturallyinspired.com"] {
    color:black;
}

